name: Flutter Web
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Build Web
    env:
      my_secret: $
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          channel: 'dev'
      - run: flutter config --enable-web
      - run: flutter pub get
      - run: flutter build web --release
        # 1. change path which exist lib/main.dart
        #working-directory: ./portfolio
      - run: |
          cd build/web
          git init
          git config --global user.email qjsrotkdals@gmail.com
          git config --global user.name songsangmin
          git status
          git remote add origin https://$@github.com/songsangmin/portfolio.git
          git checkout -b gh-pages
          git add --all
          git commit -m "update"
          git push origin gh-pages -f